.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    border-bottom: 1px solid #d3d3d3;
    /* background-color: white; */
}
.date-box{
    width: 120px;
}