.form-wrapper{
    width:calc(100% -40% -280px);
    height: 100vh;
    overflow-y: scroll;
}
.comments-section{
    width: 40%;
    height: 100vh;
    overflow-y: scroll;
}

.selected:hover{
    cursor: pointer;
    color:blue
}