.form-wrapper{
    /* background-color: #f9f9f9; */
    width:calc(100% -40% -240px);
    height: 100vh;
    overflow-y: scroll;
}
.comments-section{
    width: 40%;
    height: 100vh;
    overflow-y: scroll;
}

.selected:hover{
    cursor: pointer;
    color:blue
}