.date-box{
    height: 25px;
    text-indent: 5px;
    /* width: auto; */
}
.date-wrapper{
    position: relative;
}
.calender-icon{
    position: absolute;
    right: 5px;
    font-size: 14px;
}
.date-box:hover{
    cursor: pointer;
    
}
.calender-icon:hover{
    cursor: pointer;
}
