.service-list-container{
    background-color: #f1f5ff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px;
}
.service-details-image{
    width:40px;
    /* height: 60px; */
}
.service-status{
    color:rgb(49, 5, 78);
}
.service-date{
    color: gray;
}
.service-title{
    color: black;
}