.activitydetails-container{
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px;
}
.activity-details-image{
    width:70px;
    /* height: 60px; */
}
.activity-status{
    color:rgb(49, 5, 78);
}
.activity-date{
    color: gray;
}